<h1><%= current_user.nickname.capitalize %>'s Leagues</h1>
<% @leagues.each do |league| %>
  <h2><%= league.name %></h2>
  <% league.users.each do |user| %>
    <p><%= user.nickname %></p>
  <% end %>
<% end %>